.profile {
  padding-top: 40px;
  padding-bottom: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .profile {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .profile {
    padding-top: 42px;
    padding-bottom: 36px;
  }
}