.footer__copyright {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #545454;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}