.cards__delete {
  background-image: url('../../../images/trash.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 18px;
  height: 19px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}

.cards__delete:hover {
  opacity: 0.5;
}


