.popup__container {
  max-width: 358px;
  padding: 34px 36px 36px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
 